<!DOCTYPE html>
<html>
<head>
    <title>DevOps CI/CD Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🚀 DevOps CI/CD Mini Project</h1>

    <div class="tabs">
        <button onclick="loadDeployInfo()">Deployment Info</button>
        <button onclick="loadProjectInfo()">Project Details</button>
    </div>

    <div id="content" class="card">
        <p>Click a tab to load information.</p>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
